
div.opening {
  margin: 5%;
  padding-top: 2%;
  text-align: left;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

#navbar {
  margin-right: 5%;
}
 .day {
   border: 1px solid black;
   width: 60%;
   margin: 2%;
   padding: 3%;

 }
