.opening h1 {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  color: #1a4c1a;
}
.opening p {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 75%;
  color: #1a4c1a;
}

.opening img {
  float: right;
  margin: 0 0 10px 10px;
}

.inner-content {
  border: 2px solid #293329;
  width: auto;
  height: 400px;
  margin: 2%;
  margin-top: 10%;
  padding: 2%;
  text-align: center;
}

.inner-content ol {
  text-align: left;
}
h3 {
  padding-bottom: 10%;
}
.paragraphs {
  margin-top: 10%;
}
.projects {
  margin-top: 200px;

}
